<div class="banner jarallax">
    <div class="agileinfo-dot">
        <br><br>
        <div class="w3layouts-banner">
                <div class="container">
                    <div class="agileits_w3layouts_banner_info">
                        <h3>Vinculación Universidad Empresa</h3>
                        <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                    </div>
                    <center>
                    <p ng-show="!VisibilidadIngreso">
                        ||
                        <a href="#/registro"><button class="btn btn-primary btn-lg">Registrarse</button></a>
                    </p>
                    </center>
                </div>
            </div>
    </div>
</div>