    <div class="banner-bottom">    
        <div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Perfil</h3>
				<p class="agileits_w3layouts_para w3_agile_para">Etiam malesuada odio vitae enim malesuada accumsan diam sed.</p>
			</div>
			<div class="w3layouts_skills_grids w3layouts_featured_services_grids">
			<div class="col-md-6 w3_featured_services_right">
		
					<img  src="{{'data:image/gif;base64,'+fotoIngresado}}">
				</div>
				<div class="col-md-6 w3_featured_services_left">
					<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-pencil"> </i>
							</div>
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4>Nombres</h4>
							<p>{{nombresIngresado}} .</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
					<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-pencil"> </i>
							</div>
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4>Apellidos</h4>
							<p>{{apellidosIngresado}}.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-pencil"> </i>
							</div>
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4>Email</h4>
							<p>{{correoIngresado}}.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
