    <div class="banner-bottom">    
        <div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Perfil</h3>
				<p class="agileits_w3layouts_para w3_agile_para">Etiam malesuada odio vitae enim malesuada accumsan diam sed.</p>
			</div>
			<div class="w3layouts_skills_grids w3layouts_featured_services_grids">
			<div class="col-md-6 w3_featured_services_right">
		
					<img  src="{{'data:image/gif;base64,'+fotoAutor}}">
				</div>
				<div class="col-md-6 w3_featured_services_left">
					<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4>Nombres</h4>
							<p>{{nombreAutor}} .</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
										<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4>Apellidos</h4>
							<p>{{apellidoAutor}} .</p>
						</div>
						<div class="clearfix"> </div>
					</div>
										<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4>Correo</h4>
							<p>{{correoAutor}} .</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
				</div>
				<div>
					<h4>Mandar mensaje</h4>
					<textarea class="form-control input-lg" rows="3" ng-model= "mensajeEnviar" id="comment" required="" placeholder="Mensaje"></textarea>
					<button ng-click="enviarMensaje()" class="btn btn-warning"> Enviar </button>

				</div>
				
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
